<p>formtitulos works!</p>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Año</th>
                <th scope="col">Protagonista</th>
                <th scope="col">Director</th>
                <th scope="col">Productor</th>
                <th scope="col">Precio</th>
                <th scope="col">Tecnologia</th>
                <th scope="col">Editar precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ti of titulos">
                <th scope="row">{{ti.id}}</th>
                <td>{{ti.titulo}}</td>
                <td>{{ti.ano}}</td>
                <td>{{ti.protagonista}}</td>
                <td>{{ti.director}}</td>
                <td>{{ti.productor}}</td>
                <td>{{ti.precio}}</td>
                <td>{{ti.tecnologia}}</td>
                <td><button class="btn btn-info" type="button" [routerLink]="['/modificar', ti.id]" style="margin: 10px;">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>