<div class="container">
    <h1>Prueba desarrollador</h1>
    <button class="btn btn-info" type="button" [routerLink]="['/cliente']" style="margin: 10px;">Mostar todos los clientes</button>
    <button class="btn btn-info" type="button" [routerLink]="['/titulo']" style="margin: 10px;">Mostar todos los titulos</button>
    <button class="btn btn-info" type="button" [routerLink]="['/ventas/alquilar']" style="margin: 10px;">Alquilar</button>
    <button class="btn btn-info" type="button" [routerLink]="['/agregar']" style="margin: 10px;">Agregar/Modificar cliente</button>
    <button class="btn btn-info" type="button" [routerLink]="['/cliente/frecuente']" style="margin: 10px;">Cliente mas frecuente</button>
    <button class="btn btn-info" type="button" [routerLink]="['/titulo/frecuente']" style="margin: 10px;">Titulo mas frecuente</button>
    <button class="btn btn-info" type="button" [routerLink]="['/ventas']" style="margin: 10px;">Ventas del dia</button>
    <button class="btn btn-info" type="button" [routerLink]="['/director']" style="margin: 10px;">Buscar por director</button>
    <button class="btn btn-info" type="button" [routerLink]="['/protagonista']" style="margin: 10px;">Buscar por protagonista</button>
    <button class="btn btn-info" type="button" [routerLink]="['/productor']" style="margin: 10px;">Buscar por productor</button>
</div>