<p>agregar-cliente works!</p>
<div class="container">
    <div class="card-body">
        <h5 class="card-title">Agregar/Editar cliente</h5>
        <form>
            <div class="form-group row">
                <label for="id" class="col-form-label col-sm-2">ID</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="id" [(ngModel)]="es.id">
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="es.nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="apellido" [(ngModel)]="es.apellido">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="email" [(ngModel)]="es.email">
                </div>
            </div>

            <button class="btn btn-success" role="button" (click)='create()' style="margin: 10px;">Guardar cambios</button>

        </form>
    </div>
</div>